<mz-navbar [navbarClass]="'blue'">
  <!--<button mz-button [id]="'btn-sidenav-demo'">-->
<a href="#">
    <i mz-icon-mdi [icon]="'menu'" [size]="'32px'" 
    [align]="'left'" [id]="'btn-sidenav-demo'"></i>
</a>
  <!--</button>-->
  <h5 class="brand-logo flow-text">TX Railroad Commision </h5>
  <mz-navbar-item-container>
    <!--<mz-navbar-item><a href="#">Sass</a></mz-navbar-item>
    <mz-navbar-item><a href="#">Components</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>-->
  </mz-navbar-item-container>
</mz-navbar>